extends layout

block content
  br
  h2 Import CSV file
  br
  p
   //-a(href='javascript:void(0)' class='btn btn-primary' id='importdata') Import CSV 
   //-| &nbsp;&nbsp;&nbsp;
   a(href='javascript:void(0)' class='btn btn-primary' id='importdata-ws' data-toggle="modal" data-target="#myModal") Import CSV
   | &nbsp;&nbsp;&nbsp;
   //-a(href='javascript:void(0)' class='btn btn-primary' id='fetchdata') Fetch Data
   a(href='javascript:void(0)' class='btn btn-primary' id='fetchStudentData') Fetch Student Data
  br  
  p#message.alert.alert-success(style='display:none')
  br
  table.table.table-bordered
    thead
        tr
            th #
            th Student ID
            th Status
            th Application Date
            th Department
            th Course
            th API Called
    tbody#trdata
        tr
            td(colspan='3') Click on <strong>Import CSV</strong> button to import and save data. <br />Click on <strong>Fetch Data</strong> button to display data


  #myModal.modal
          .modal-dialog
              .modal-content
                  .modal-header
                      h4.modal-title Upload Welcome Student Data
                          button.close(type='button' data-dismiss="modal") &times;
                  .modal-body
                          input#uploaddata.form-control(type='file', name='uploaddata' )
                          br
                          div(id='preview')
                          br
                          button.btn.btn-primary(type='' name='uploaddata' id='btn_upload') Upload
                          |&nbsp;&nbsp;&nbsp;
                          button.btn.btn-danger(type='button' data-dismiss='modal') Close
                          